{% extends "capstone/layout.html" %}

{% block body %}
    <h4>Create Event</h4><br>
    <form action="{% url 'create_event' %}" method="POST">
        {% csrf_token %}
        <div><input type="text" name="name" placeholder="Enter the name of the event here" required></div>
        <div>Date of the event here: <input type="date" name="date" required></div>
        <div>Start time of the event: <input type="time" name = "start_time" required>   End time of the event: <input type="time" name = "end_time" required></div>
        <div><textarea name="description" placeholder="Enter the description of the event here" required></textarea></div>
        <div><input type="text" name="venue" placeholder="Enter the venue here" required></div>
        <div><input type="submit" value="Submit" required></div>
    </form>
{% endblock %}